<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Production">
    <test name="smoke">
        <classes>
            <class name="tests.okhttpapi.LoginTestsOkHTTP"/>
            <class name="tests.restassured.LoginAssuredTests"/>
            <class name="tests.restassured.AddNewCarTests"/>
        </classes>
    </test>
    <!--    <test name="regression">-->
    <!--        <classes>-->
    <!--            <class name="tests.RegistrationTests"/>-->
    <!--        </classes>-->
    <!--    </test>-->
</suite>